services:
  spark-master:
    build:
      context: .
      dockerfile: docker/spark/Dockerfile
    container_name: spark-master
    command: tail -f /dev/null
    environment:
      - SPARK_MODE=master
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./data:/opt/data
      - ./jobs:/app/jobs
      - ./src:/app/src
      - ./scripts:/app/scripts
    networks:
      - asr-network

  spark-worker:
    build:
      context: .
      dockerfile: docker/spark/Dockerfile
    container_name: spark-worker
    command: tail -f /dev/null
    environment:
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    depends_on:
      - spark-master
    volumes:
      - ./data:/opt/data
    networks:
      - asr-network

  api:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    container_name: asr-api
    ports:
      - "8000:8000"
    volumes:
      - ./data:/opt/data
    networks:
      - asr-network
    depends_on:
      - spark-master

networks:
  asr-network:
    driver: bridge

volumes:
  data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PWD}/data
